/*用户下载，商家下载公共css*/
/*导航的选中下划线*/
.bor{
	border-bottom: 2px solid #fff;
}
/*头部导航栏*/
.header{
	width: 100%;
	min-width: 240px;
	height: 70px;
}
.header h1{
	width: 25%;
	padding: 0 20% 0 14%;
	height: 100%;
	line-height: 70px;
	font-size: 32px;
	color: #fff;
	float: left;
	font-weight: bold;
}
.header h1 i{
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
}
.header .nav{
	width: 41%;
	height: 100%;
	float: left;
}
.header .nav li{
	float: left;
	padding:16px 20px 0;
}
.header .nav li a{
	display: block;
	height: 35px;
	line-height: 35px;
	color: #fff;
}
.header .nav li a:hover{
	border-bottom: 2px solid #fff;
}
.header .nav li .active{
	border-bottom: 2px solid #fff;
}
/*************************main*************************/
.main{
	width: 100%;
	height: 672px;
}
.main_content{
	width: 1050px;
	padding-top: 92px;
	height: 460px;
	margin:0 auto;
	position: relative;
}
.main_content .user_bg{
	width: 620px;
	height: 342px;
	position: absolute;
	bottom: 0;
	right: 0;
	background: url(../img/userdown_load_bg.png) no-repeat right bottom;
	background-size: 70%;
}
.main_content .merchants_bg{
	width: 450px;
	height: 510px;
	position: absolute;
	bottom: 0;
	right: 0;
	background: url(../img/merchants_bg.png) no-repeat right bottom;
	background-size: 80%;
}
.main_content .title_mes{
	font-size: 42px;
	line-height: 68px;
	color: #fff;
}
.main_content  p{
	line-height: 60px;
	font-size: 16px;
	color: #fff;
}
.main_content .down{
	width: 179px;
	height: 30px;
	padding: 10px 0 10px 17px;
	background: #000;
	border-radius: 5px;
}
.main_content .down .android,.main_content .down .ios{
	display: block;
	float: left;
	width: 26px;
	height: 30px;
}
.main_content .down .android img,.main_content .down .ios img{
	width: 100%;
	height: 100%;
}
.main_content .down .liji{
	float: left;
	display: block;
	line-height: 30px;
	padding-left: 17px;
	font-size: 16px;
	color: #fff;
}
.main_content .qr_code{
	width: 153px;
	height: 153px;
}
.main_content .qr_code img{
	width:100%;
	height: 100%;
}
/************************底部****************************/
.foot{
	width: 100%;
	height: 68px;
	line-height: 68px;
}
.foot p{
	width: 100%;
	height: 100%;
	line-height: 68px;
	font-size: 12px;
	color: #4a4949;
	text-align: center;
}
